font-family: 'Poppins', sans-serif;

.fondo{
    background: #f9edd7;
}

.container{
    width: 300px;
    height: 445px;
    border-radius: solid 1px #000000;
    border-radius: 15px;
    margin: auto;
    background-color: #afb6b4;
    box-shadow:  2px 2px 2px #c9caca, -2px -2px 2px #c9caca;
}

.encabezado{
    width: 300px;
    height: 80px;
    margin-top: auto;
    background: #7b818b;
    border-radius: 15px 15px 0 0 ;

}

.titulop{
    text-align: center;
    padding-top: 15px;
    font-family: Poppins;
}

.titulop:hover{
    font-size: 33px;
    transition: 0.5s;
}

.operando{
    width: 95%;
    height: 50px;
    margin: 5px;
    text-align: end;
    font-size: 30px ;
    border: none;
    background-color: #d8dcdb;
    padding-top: 5px;
}

.botones{
    height: 260px;
    width: 260px;
    margin: 20px;
}

.number{
    display: inline;
}

.btn{
    width: 60px;
    height: 60px;
    margin-left: 2px;
    margin-top: 4px;
    display: inline-block;
}
.btnigual{
    width: 60px;
    height: 60px;
    border: none;
    margin-left: 2px;
    display: inline-block;
    background: #7b818b;
    color: #ffffff; 

}